body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ddd; */
}

h1,
h5 {
  color: rgb(187, 50, 0);
}

.view_btn {
  background-color: rgb(255, 84, 21);
  color: #fff;
  border: 2px solid rgb(255, 68, 0);
}

.view_btn:hover,
.view_btn:focus {
  color: rgb(255, 68, 0);
  background-color: #fff;
}

nav {
  background: #cb356b;
  background: -webkit-linear-gradient(to right, #bd3f32, #cb356b);
  background: linear-gradient(to right, #bd3f32, #cb356b);
}

nav a {
  color: #fff;
  border: 2px solid transparent;
}

nav li {
  margin: 0px 5px;
}
nav a:hover {
  border-radius: 5px;
  color: white;
  background-color: #aa1808;
}
nav a:active {
  border-radius: 5px;
  color: white;
  background-color: #aa1808;
}

.input {
  height: auto;
  border: 1px solid gray;
  border-radius: 5px;
}

label {
  font-size: 12px;
  color: gray;
  width: 100%;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

input:focus {
  border: none;
}

.selector {
  background-color: #fff;
  cursor: pointer;
  color: #0069d9;
}

.selector:hover,
.selector:focus {
  background-color: #0069d9;
  color: #fff;
}

.card_div {
  background-color: rgba(13, 94, 216, 0.089);
}

.customer_card_div {
  /* background-color: rgba(13, 94, 216, 0.089); */
  color: #494949;
}

.customer_card_div p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

.customer_card_div span {
  font-weight: normal;
}

.mini_btn {
  height: 25px;
  width: 100%;
  background-color: #0069d9;
  color: #fff;
  border: none;
  font-size: 12px;
}

.mini_btn:hover {
  background-color: #fff;
  color: #0069d9;
  border: 1px solid #0069d9;
}

.acc_data_ul {
  padding: 0;
}

.acc_data {
  list-style: none;
  padding: 5px;
  color: #494949;
  font-size: 14px;
}

.avatar {
  color: rgb(187, 50, 0);
}

.summary_card_inner_1,
.summary_card_inner_2,
.summary_card_inner_3,
.summary_card_inner_4 {
  color: #fff;
}

.summary_card_inner_1 {
  background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #f7b733, #fc4a1a);
}

.summary_card_inner_2 {
  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.summary_card_inner_3 {
  background: #22c1c3;
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
}

.summary_card_inner_4 {
  background: #7f00ff;
  background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
  background: linear-gradient(to right, #e100ff, #7f00ff);
}
